name: package updater

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write
  contents: write

jobs:
  build:
    name: update package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"

      - name: Publish
        run: |
          git config user.name "mobingideployer"
          git config user.email "dev@mobingi.com"
          npm ci
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "Publishing version $VERSION"
          npm pkg set version=$VERSION
          npm publish
          git add package.json
          git commit -m "chore: update package.json version to $VERSION"
          git push origin HEAD:main
